includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 5
  paths:
    - app
    - bootstrap
    - config
    - database
  ignoreErrors:
    # Too much magic for PHPStan to understand
    - path: database/factories/*
      message: '#Variable \$factory might not be defined.#'
    - path: database/migrations/*
      message: '#Call to an undefined method Illuminate\\Support\\Fluent::[a-zA-Z0-9_]+\(\)#'
