// Fonts
$font-family-sans-serif: 'Roboto', sans-serif;

// Colors
$dark: #012133;
$light: #f8f9fa;
$primary: #407076;
$warning: #a31621;

// Style
$enable-gradients: true;

// Body
$body-color: $dark;
$body-bg: $light;
