// Fonts
$font-family-sans-serif: 'Roboto', sans-serif;
$headings-font-family: 'Fira Sans', sans-serif;

// Colors
$danger: #a31621;
$dark: #012032;
$info: #529cd1;
$light: #f8f9fa;
$primary: #407076;
$secondary: #0b3a47;
$success: #44a2a0;
$warning: #ffe74d;

// Style
$enable-gradients: true;

// Body
$body-color: $dark;
$body-bg: $light;
